# Смотри другие настройки здесь https://github.com/wiorca/docker-windscribe
WINDSCRIBE_USERNAME=
WINDSCRIBE_PASSWORD=
WINDSCRIBE_PROTOCOL=udp # stealth OR tcp OR udp

# Proxy settings
PROXY_PORT=8888
PROXY_USER=proxyuser
PROXY_PASSWORD=proxypass
